<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="customer" sortOrder="999" translate="label">
			<label>customer</label>
		</tab>
		<section id="customer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>customer</label>
			<tab>customer</tab>
			<resource>RedboxDigital_Customer::config_redboxdigital_customer</resource>
			<group id="address" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>address</label>
				<field id="linkedin_profile_show" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="select">
					<label>Show Linkedin Profile</label>
					<source_model>Magento\Config\Model\Config\Source\Nooptreq</source_model>
                    <backend_model>Magento\Customer\Model\Config\Backend\Show\Customer</backend_model>
				</field>
			</group>
		</section>
	</system>
</config>
